* {
    border: solid 1px black;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header img {
    max-height: 100px;
}

nav {
    height: 50px;
}

section {
    height: 500px;
}

footer {
    height: 100px;
    background-color:darkslategrey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 6px;
}

nav ul li a {
    text-decoration: none;
}

/*Estilos seccion 1*/
.seccion1 {
    background-image: url(../img/aprender-html.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/*Estilos seccion 2*/
.seccion2 {
    background-image: url(../img/aprender-css.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*Estilos seccion 3*/
.seccion3 {
    background-image: url(../img/aprender-js.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*Estilos seccion 4*/
.seccion4 {
    background-image: url(../img/tutoriales-php.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.seccion1 h3,
.seccion2 h3,
.seccion3 h3,
.seccion4 h3 {
    color: azure;
    font-size: 60px;
    position: relative;
    z-index: 2;
}


/*media queries para pantallas menores de 768px*/

@media (max-width: 768px) {
    header {
        justify-content: space-around;
    }

    header h1 {
        display: none;
    }

    nav ul {
        justify-content: space-around;
    }

    .seccion1 h3,
    .seccion2 h3,
    .seccion3 h3,
    .seccion4 h3 {
        font-size: 32px;
    }
}