* {
    border: solid 1px black;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header img {
    max-height: 100px;
}

nav {
    height: 50px;
}

section {
    height: 500px;
}

footer {
    height: 100px;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 6px;
}

nav ul li a {
    text-decoration: none;
}

.seccion1 {
    background-image: url(../img/aprender-html.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Oscurece la imagen */
    z-index: 1;
  }

.seccion1 h3 {
    color: azure;
    position: relative;
    z-index: 2;
}



/*media queries para pantallas menores de 768px*/

@media (max-width: 768px) {
    header {
        justify-content: space-around;
    }

    header h1 {
        display: none;
    }

    nav ul {
        justify-content: space-around;
    }
}