* {
    margin: 0;
    padding: 0;
    border: solid 1px black;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
}

.userMenuContainer{
    position: relative;
}

.userPicContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.userPicContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuDesplegable{
    position: absolute;
    background-color: white;
}

footer {
    height: 100px;
    background-color: darkslategrey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .rrss-wrapper {
    display: flex;
    column-gap: 6px;
}